@use 'variables' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: map-get($colors, 'gris');
    color: whitesmoke;
    padding: 10px;

    .btn {
        background-color: white;
        color: map-get($colors, 'gris' );
    }
}

.footer {
    text-align: center;
    background-color: map-get($colors, 'gris');
    padding: 10px;

    h3{
        color: whitesmoke;
    }
}