@use 'mixins' as *;
@use 'variables' as *;


//----------------------------------------------------
// GENERAL
//----------------------------------------------------


h2{
    color: darkorchid;
    text-decoration: underline;
    margin: 15px;
    padding: 15px;
}

h3{
    color: darkblue;
    margin: 10px;
    padding: 10px;
}

section{
    margin: 0 5%;
}


//----------------------------------------------------
// GRID
//----------------------------------------------------


.grid{
    &__col{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__responsive-container{
        display: flex;
        grid-template-columns: repeat(6, 1fr);
        flex-wrap: wrap;

        @include phone() {
            grid-template-columns: repeat(3, 1fr);
    }

}


$grid:(
    12:100%,
    6:50%,
    4:33.33%,
    3:25%,
);
    
@each $name, $size in $grid{ 
    .grid--#{$name}{ 
        background-color: red;
        border: 2px solid black;
        grid-column: span #{$name};
        border-radius: 15px;
    }
}

$grid2:(
    6:50%,
    3:33.33%,
);
    
@each $name, $size in $grid2{ 
    .grid--md-#{$name}{ 
        margin-right: 25px;
    }

    @include tablet() {
        .grid--md-#{$name}{ 
            background-color: blue;
            grid-column: span #{$name};
        }
    }

    @include phone() {
        .grid--lg-#{$name}{ 
            background-color: green;
            grid-column: span #{$name};
        }
    }
}
}


//----------------------------------------------------
// BOUTONS
//----------------------------------------------------


.btn{
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: whitesmoke;

    &--primary{
        background-color: map-get($colors, 'bleu');
    }

    &--secondary{
        background-color: map-get($colors, 'gris');
    }

    &--success{
        background-color: map-get($colors, 'vert');
    }

    &--danger{
        background-color: map-get($colors, 'vert');
    }

    &--warning{
        background-color: map-get($colors, 'jaune');
        color: black;
    }

    &--info{
        background-color: map-get($colors, 'info');
    }

    &--outline-primary{
        background-color: white;
        border: 1px solid map-get($colors, 'bleu');
        color: map-get($colors, 'bleu');
    }

    &--outline-secondary{
        background-color: white;
        border: 1px solid map-get($colors, 'gris');
        color: map-get($colors, 'gris');
    }

    &--pleine-largeur{
        width: 100%;
    }

    &--arrondi{
        border-radius: 50px;
    }
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

$btn:(
    grand:20px,
    moyen:15px,
    petit:10px,
);
    
@each $name, $size in $btn{ 
    .btn--#{$name}{ 
        padding: $size!important; 
    }
}