@use 'mixins' as *;


// GENERAL

h2{
    color: darkorchid;
    text-decoration: underline;
    margin: 15px;
    padding: 15px;
}

h3{
    color: darkblue;
    margin: 10px;
    padding: 10px;
}


// GRID

.grid{
    &__col{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__responsive-container{
        display: flex;
        grid-template-columns: repeat(6, 1fr);
        flex-wrap: wrap;

        @include phone() {
            grid-template-columns: repeat(3, 1fr);
    }

}


$grid:(
    12:100%,
    6:50%,
    4:33.33%,
    3:25%,
);
    
@each $name, $size in $grid{ 
    .grid--#{$name}{ 
        background-color: red;
        border: 2px solid black;
        grid-column: span #{$name};
    }
}

$grid2:(
    6:50%,
    3:33.33%,
);
    
@each $name, $size in $grid2{ 
    @include tablet() {
        .grid--md-#{$name}{ 
            background-color: blue;
            grid-column: span #{$name};
        }
    }

    @include phone() {
        .grid--lg-#{$name}{ 
            background-color: green;
            grid-column: span #{$name};
        }
    }
}


// BOUTONS


$btn:(
    l:20px,
    m:15px,
    s:10px,
);
    
@each $name, $size in $btn{ 
    .btn--#{$name}{ 
        padding: $size; 
    }
}
}

.btn{
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: whitesmoke;

    &--primary{
        background-color: #017bff;
    }

    &--secondary{
        background-color: #6c747d;
    }

    &--success{
        background-color: #27a840;
    }

    &--danger{
        background-color: #dc3849;
    }

    &--warning{
        background-color: #fac500;
        color: black;
    }

    &--info{
        background-color: #1c9eba;
    }
}