$gris: #6c747d;
$bleu: #017bff;
$jaune: #fac500;
$vert: #27a840;
$rouge: #dc3849;
$info: #1c9eba;


$colors:(
    'gris': $gris,
    'bleu': $bleu,
    'jaune': $jaune,
    'vert': $vert,
    'rouge': $rouge,
    'info': $info
);