/* Error: Undefined variable.
 *   ,
 * 6 |     color: map-get($colors, 'gris');
 *   |                    ^^^^^^^
 *   '
 *   assets\scss\layout.scss 6:20  @use
 *   assets\scss\main.scss 4:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502      color: map-get($colors, 'gris');\d\a   \2502                     ^^^^^^^\a   \2575 \a   assets\\scss\\layout.scss 6:20  @use\a   assets\\scss\\main.scss 4:1     root stylesheet";
}
